<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h3>Sign up to the event using this form</h3>

        <form action="#" th:action="@{/form}" method="POST">
            <table>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="text" name="name" id="name" th:value="${name}" readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>
                        <input type="text" name="address" id="address"/>
                    </td>
                </tr>
                <tr>
                    <td>Mobile:</td>
                    <td>
                        <input type="text" name="mobile" id="mobile"/>
                    </td>
                </tr>
                <tr>
                    <td>Misc:</td>
                    <td>
                        <input type="text" name="misc" id="misc"/>
                    </td>
                </tr>
            </table>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
    </body>
</html>
